body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board{  
  position: absolute;
  height: 600px;
  width: 800px;
  border: 4px double red ;
}

.square{
  position: absolute;
  height: 100px;
  width: 100px;
  border: 4px double black ;
}

.active{
  border: 4px dotted yellow ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
